.hero-wrapper {
    color: white;
    position: relative;
  padding-bottom: 2rem;
  z-index: 1
}

.hero-Container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 2rem;
    
}

/* Left Side */

.hero-left {
display: flex;
flex-direction: column;
  gap: 2rem;
  flex: 1; 
  z-index: 99;
}

.hero-title {
    position: relative;
    z-index: 1;

}

.orange-circle {
    
    height: 4rem;
    width: 4rem;
    background: var(--orange-gradient);
    border-radius: 100%;
    position:absolute;
    right: 59%;
    top: -12%;
    z-index: -1;
}
.secodatyText {
    font-size: 1rem;
    color: rgb(0, 0, 0);
}
.hero-des{
    font-family: "Cookie", cursive;
    font-weight: 500;
}
.hero-title h1 {
    font-size: 3.8rem;
    line-height: 4rem;
    font-weight: 600;
}

.hero-search-bar {
    background-color: aliceblue;
    border-radius: 5rem;
    border: 1px solid rgba(120, 120, 120, 0.374);
    padding: 0.6rem 1rem;
    justify-content: space-between;
    width: 50%;
}
.hero-search-bar input {
    border: none;
    outline: none;
}

.hero-stats {
   width: 100%;
   flex-direction: row;
    justify-content: space-between;
}

.hero-stat {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
  text-align: center;
}

.hero-stat span:first-child {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.hero-stat span:last-child  {
    color: rgb(0, 0, 0);
    font-weight: 700;
   
}
/* right Side */

.image-container {
   
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 640px) {
    .hero-Container {
        margin-top: 2rem;
    }
    .hero-title h1 {
font-size: 2.5rem;
line-height: 3rem;
    }
    
    .hero-search-bar {
        width: 100%;
    }
    .image-container {
        width: 95%;
        height: 25rem;
        margin-top: 2rem;
    }
    .hero-stat{
        justify-content: center;
        gap: 1.5rem;
    }
    .hero-right {
        width: 100%;
    }
}